/*
FOR TESTING: These are all the variables that MAP should export

user_font_scheme: #{$user_font_scheme}
user_link_color: #{$user_link_color}
user_background_color: #{$user_background_color}
user_child_nav_color: #{$user_child_nav_color}
*/
/* line 16, /Users/rmurphey/projects/mulberry/app/mulberry/style/_debug-tools.scss */
div.debug-tools {
  font-family: Helvetica Neue, sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}
/* line 24, /Users/rmurphey/projects/mulberry/app/mulberry/style/_debug-tools.scss */
div.debug-tools .buttons {
  float: right;
}
/* line 28, /Users/rmurphey/projects/mulberry/app/mulberry/style/_debug-tools.scss */
div.debug-tools .button {
  float: left;
  padding: 2px 8px;
  line-height: 2em;
  background-color: #005998;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
  border-right: 1px inset rgba(0, 0, 0, 0.2);
}
/* line 40, /Users/rmurphey/projects/mulberry/app/mulberry/style/_debug-tools.scss */
div.debug-tools .button:first-child {
  -webkit-border-radius: 10px 0 0 0;
}

/* line 47, /Users/rmurphey/projects/mulberry/app/mulberry/style/_debug-tools.scss */
div.debug-message {
  padding: 10px;
  background-color: green;
  color: #fff;
  display: -webkit-box;
  font-size: 80%;
}
/* line 54, /Users/rmurphey/projects/mulberry/app/mulberry/style/_debug-tools.scss */
div.debug-message div {
  display: block;
  -webkit-box-flex: 1;
}
/* line 59, /Users/rmurphey/projects/mulberry/app/mulberry/style/_debug-tools.scss */
div.debug-message .close {
  cursor: pointer;
  padding: 0 12px;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 6, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
body {
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* line 18, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
html, body, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, cite, code, dfn, ins, q, sub, sup, var, dl, dt, dd, fieldset, form, label, legend, caption, menu {
  font-size: 100%;
}

/* line 22, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
p, h1, h2, h3, h4, h5, h6, blockquote {
  margin: 0;
  padding: 0;
}

/* line 28, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
article, aside, datalist, details, figcaption, figure, footer, header, hgroup, nav, output, progress, section, source, summary, video {
  display: block;
}

/* line 32, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
body, div, ol, ul, li, nav, section, menu {
  position: relative;
  overflow: hidden;
}

/* line 38, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
fieldset {
  border: 0;
}

/* line 42, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 48, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
blockquote, q {
  quotes: none;
}

/* remember to define focus styles! */
/* line 53, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
:focus {
  outline: 0;
}

/* line 57, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

/* line 63, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
tbody, tfoot, thead, tr, th, td {
  vertical-align: top;
}

/* line 67, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
a {
  text-decoration: none;
  outline: 0;
}

/* line 72, /Users/rmurphey/projects/mulberry/app/mulberry/style/_reset.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-webkit-keyframes spin {
  /* line 2, /Users/rmurphey/projects/mulberry/app/mulberry/style/_animations.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 5, /Users/rmurphey/projects/mulberry/app/mulberry/style/_animations.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/ui/_scrollable.scss */
.scrollable {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/ui/_scrollable.scss */
.scrollable > * {
  -webkit-transform: translateZ(0);
}

/* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Region/_region.scss */
.region {
  overflow: visible;
}
/* line 33, /Users/rmurphey/projects/mulberry/app/mulberry/style/_helpers.scss */
.region.hidden {
  display: none !important;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Screen/_screen.scss */
.screen {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 33, /Users/rmurphey/projects/mulberry/app/mulberry/style/_helpers.scss */
.screen.hidden {
  display: none !important;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Viewport/_viewport.scss */
.viewport {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  -webkit-animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
/* line 15, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Viewport/_viewport.scss */
.viewport .page {
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 19, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Viewport/_viewport.scss */
.viewport.pre-slide {
  width: 200%;
}
/* line 23, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Viewport/_viewport.scss */
.viewport.slide-left {
  -webkit-animation-name: slide-left;
}
/* line 27, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Viewport/_viewport.scss */
.viewport.slide-right {
  -webkit-animation-name: slide-right;
}

@-webkit-keyframes slide-left {
  /* line 33, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Viewport/_viewport.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 36, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Viewport/_viewport.scss */
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
  }
}

@-webkit-keyframes slide-right {
  /* line 42, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Viewport/_viewport.scss */
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
  }

  /* line 45, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Viewport/_viewport.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

/* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Page/_page.scss */
.page {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/containers/Persistent/_persistent.scss */
.container.persistent {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/style/_splash.scss */
#splash {
  -webkit-background-size: cover;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
@media (orientation:landscape) {
  /* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/style/_splash.scss */
  #splash {
    background-image: url("../media/load-screens/landscape.png");
  }
}
@media (orientation:portrait) {
  /* line 1, /Users/rmurphey/projects/mulberry/app/mulberry/style/_splash.scss */
  #splash {
    background-image: url("../media/load-screens/portrait.png");
  }
}

/* line 2, /Users/rmurphey/projects/mulberry/app/mulberry/components/Debug/_debug.scss */
.component.debug table {
  width: 100%;
}
/* line 5, /Users/rmurphey/projects/mulberry/app/mulberry/components/Debug/_debug.scss */
.component.debug table td, .component.debug table th {
  padding: 8px;
  border: 1px solid #aaa;
}
/* line 11, /Users/rmurphey/projects/mulberry/app/mulberry/components/Debug/_debug.scss */
.component.debug .actions {
  margin: 10px 0;
}
/* line 14, /Users/rmurphey/projects/mulberry/app/mulberry/components/Debug/_debug.scss */
.component.debug .actions li {
  padding: 10px;
  background-color: #ccc;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px 0;
}
/* line 23, /Users/rmurphey/projects/mulberry/app/mulberry/components/Debug/_debug.scss */
.component.debug .status {
  padding: 10px;
  color: red;
}

/* line 3, /Users/rmurphey/projects/mulberry/app/toura/components/_component.scss */
.component.hidden,
.component .hidden {
  display: none !important;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.component.page-nav {
  overflow: visible;
  z-index: 2;
}
/* line 9, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.tablet .component.page-nav {
  height: 60px;
}
/* line 13, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.phone .component.page-nav {
  height: 40px;
}
/* line 17, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.component.page-nav > .top {
  -webkit-transform: translate3d(0, 0, 0);
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  width: 100%;
  position: absolute;
  z-index: 2;
}
/* line 27, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.component.page-nav > .top a {
  display: block;
  -webkit-background-size: contain;
}
/* line 32, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.component.page-nav > .top h1 {
  -webkit-box-flex: 1;
  text-align: center;
  font-weight: normal;
  padding: 5px 0;
}
/* line 40, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.component.page-nav > .more-drawer {
  position: absolute;
  z-index: 1;
}
/* line 46, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.tablet .component.page-nav > .top ul {
  padding: 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
/* line 51, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.tablet .component.page-nav > .top ul li {
  -webkit-box-flex: 1;
  width: 60px;
}
/* line 56, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.tablet .component.page-nav > .top ul li a {
  height: 40px;
}
/* line 61, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.tablet .component.page-nav > .top ul li.search:first-child {
  width: 120px;
}
/* line 69, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.phone .component.page-nav > .top h1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* line 74, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.phone .component.page-nav > .top div {
  width: 60px;
  padding: 5px 0;
}
/* line 78, /Users/rmurphey/projects/mulberry/app/toura/components/PageNav/_page-nav.scss */
.phone .component.page-nav > .top div a {
  height: 30px;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/toura/components/DetailTitle/_detail-title.scss */
.component.detail-title {
  z-index: 1;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav {
  width: 100%;
  -webkit-transition: -webkit-transform 0.15s ease-in;
}
/* line 10, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.phone .component.sibling-nav {
  height: 77px;
  -webkit-transform: translate3d(0, 59px, 0);
}
/* line 15, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.tablet .component.sibling-nav {
  height: 125px;
  -webkit-transform: translate3d(0, 107px, 0);
}
/* line 20, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav.open {
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 24, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav .handle {
  height: 18px;
}
/* line 29, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav.open .handle .toggler {
  -webkit-transform: rotate(180deg);
}
/* line 33, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav nav {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
/* line 34, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.tablet .component.sibling-nav nav {
  height: 107px;
}
/* line 38, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.phone .component.sibling-nav nav {
  height: 59px;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/style/_layout.scss */
.component.sibling-nav nav > .region {
  -webkit-box-flex: 1;
}
/* line 44, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav nav .controller {
  width: 60px;
  margin: 0 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/style/_layout.scss */
.component.sibling-nav nav .controller > .region {
  -webkit-box-flex: 1;
}
/* line 50, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav nav ol.nodes {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  height: 100%;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/style/_layout.scss */
.component.sibling-nav nav ol.nodes > .region {
  -webkit-box-flex: 1;
}
/* line 55, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav nav ol.nodes, .component.sibling-nav nav ol.nodes * {
  overflow: visible;
}
/* line 59, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav nav ol.nodes > li {
  width: 50%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/style/_layout.scss */
.component.sibling-nav nav ol.nodes > li > .region {
  -webkit-box-flex: 1;
}
/* line 65, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav nav ol.nodes > li.next {
  text-align: right;
}
/* line 69, /Users/rmurphey/projects/mulberry/app/toura/components/SiblingNav/_sibling-nav.scss */
.component.sibling-nav nav ol.nodes > li:only-child {
  width: 100%;
}

/* line 2, /Users/rmurphey/projects/mulberry/app/toura/components/MoreDrawer/_more-drawer.scss */
.component.more-drawer {
  width: 100%;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.2s ease-in;
}
/* line 11, /Users/rmurphey/projects/mulberry/app/toura/components/MoreDrawer/_more-drawer.scss */
.phone .component.more-drawer {
  -webkit-transform: translate3d(0, 40px, 0);
  left: 0;
}
/* line 15, /Users/rmurphey/projects/mulberry/app/toura/components/MoreDrawer/_more-drawer.scss */
.phone .component.more-drawer.hidden {
  display: block !important;
  -webkit-transform: translate3d(0, -120px, 0);
}
/* line 22, /Users/rmurphey/projects/mulberry/app/toura/components/MoreDrawer/_more-drawer.scss */
.tablet .component.more-drawer {
  -webkit-transform: translate3d(0, 60px, 0);
  right: 70px;
  width: 325px;
}
/* line 27, /Users/rmurphey/projects/mulberry/app/toura/components/MoreDrawer/_more-drawer.scss */
.tablet .component.more-drawer li.font-size {
  border-right: 1px solid #777;
}
/* line 31, /Users/rmurphey/projects/mulberry/app/toura/components/MoreDrawer/_more-drawer.scss */
.tablet .component.more-drawer.hidden {
  display: block !important;
  -webkit-transform: translate3d(0, -62px, 0);
}
/* line 37, /Users/rmurphey/projects/mulberry/app/toura/components/MoreDrawer/_more-drawer.scss */
.component.more-drawer menu {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
/* line 42, /Users/rmurphey/projects/mulberry/app/toura/components/MoreDrawer/_more-drawer.scss */
.component.more-drawer menu li {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
}
/* line 48, /Users/rmurphey/projects/mulberry/app/toura/components/MoreDrawer/_more-drawer.scss */
.component.more-drawer menu li a, .component.more-drawer menu li input {
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/toura/components/GoogleMap/_google-map.scss */
.component.google-map {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* line 6, /Users/rmurphey/projects/mulberry/app/toura/components/GoogleMap/_google-map.scss */
.component.google-map div {
  overflow: visible;
}
/* line 10, /Users/rmurphey/projects/mulberry/app/toura/components/GoogleMap/_google-map.scss */
.component.google-map .map {
  -webkit-box-flex: 1;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/toura/components/_ImageScroller/_image-scroller.scss */
.component.image-scroller {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/style/_layout.scss */
.component.image-scroller > .region {
  -webkit-box-flex: 1;
}
/* line 5, /Users/rmurphey/projects/mulberry/app/toura/components/_ImageScroller/_image-scroller.scss */
.component.image-scroller ol.indicator {
  line-height: 0;
  overflow: visible;
}
/* line 10, /Users/rmurphey/projects/mulberry/app/toura/components/_ImageScroller/_image-scroller.scss */
.component.image-scroller .wrapper {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/style/_layout.scss */
.component.image-scroller .wrapper > .region {
  -webkit-box-flex: 1;
}
/* line 13, /Users/rmurphey/projects/mulberry/app/toura/components/_ImageScroller/_image-scroller.scss */
.component.image-scroller .wrapper ol.images {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 16, /Users/rmurphey/projects/mulberry/app/toura/components/_ImageScroller/_image-scroller.scss */
.component.image-scroller .wrapper ol.images li {
  height: 100%;
  float: left;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/style/_layout.scss */
.component.image-scroller .wrapper ol.images li > .region {
  -webkit-box-flex: 1;
}
/* line 25, /Users/rmurphey/projects/mulberry/app/toura/components/_ImageScroller/_image-scroller.scss */
.component.image-scroller .wrapper ol.images li .image {
  -webkit-box-flex: 1;
  background: no-repeat center center;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 2, /Users/rmurphey/projects/mulberry/app/toura/components/NodeTitleBanner/_node-title-banner.scss */
.component.node-title-banner .image {
  background-position: center center;
  -webkit-background-size: contain;
}
/* line 7, /Users/rmurphey/projects/mulberry/app/toura/components/NodeTitleBanner/_node-title-banner.scss */
.component.node-title-banner header {
  -webkit-box-flex: 1;
}

/* line 2, /Users/rmurphey/projects/mulberry/app/toura/components/PageHeaderImage/_page-header-image.scss */
.component.page-header-image img {
  display: block;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/toura/components/VideoPlayer/_video-player.scss */
.component.video-player {
  height: 100%;
  width: 100%;
  position: absolute;
}
/* line 6, /Users/rmurphey/projects/mulberry/app/toura/components/VideoPlayer/_video-player.scss */
.component.video-player .overlay {
  display: none;
}
/* line 11, /Users/rmurphey/projects/mulberry/app/toura/components/VideoPlayer/_video-player.scss */
.component.video-player.disabled video {
  display: none;
}
/* line 15, /Users/rmurphey/projects/mulberry/app/toura/components/VideoPlayer/_video-player.scss */
.component.video-player.disabled .overlay {
  display: block;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/toura/components/ZoomableImageGallery/_zoomable-image-gallery.scss */
.component.zoomable-image-gallery {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
}
/* line 5, /Users/rmurphey/projects/mulberry/app/toura/components/ZoomableImageGallery/_zoomable-image-gallery.scss */
.component.zoomable-image-gallery .content {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 8, /Users/rmurphey/projects/mulberry/app/toura/components/ZoomableImageGallery/_zoomable-image-gallery.scss */
.component.zoomable-image-gallery .content ol {
  height: 100%;
}
/* line 12, /Users/rmurphey/projects/mulberry/app/toura/components/ZoomableImageGallery/_zoomable-image-gallery.scss */
.component.zoomable-image-gallery .content li {
  height: 100%;
  float: left;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
/* line 22, /Users/rmurphey/projects/mulberry/app/toura/components/ZoomableImageGallery/_zoomable-image-gallery.scss */
.component.zoomable-image-gallery .content li .wrapper {
  height: 100%;
  -webkit-background-size: contain;
  background: no-repeat center center;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 33, /Users/rmurphey/projects/mulberry/app/toura/components/ZoomableImageGallery/_zoomable-image-gallery.scss */
.component.zoomable-image-gallery.chrome-hidden .caption,
.component.zoomable-image-gallery.chrome-hidden .image-nav {
  display: none !important;
}

/* line 1, /Users/rmurphey/projects/mulberry/app/toura/components/Hotspots/_hotspots.scss */
.component.hotspots {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* line 1, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/helpers/_forms.scss */
form * {
  font-family: Helvetica Neue, sans-serif;
}

/* line 7, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/helpers/_forms.scss */
input[type=submit],
input[type=reset],
button {
  -webkit-border-radius: 4px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#9c9c9c));
  border: 1px solid #9a9a9a;
  font-size: 14px;
  font-weight: bold;
  color: #454545;
  height: 26px;
  padding: 2px 15px 0 15px;
  margin: 5px;
}
/* line 46, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/helpers/_mixins.scss */
input[type=submit].highlight,
input[type=reset].highlight,
button.highlight {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#d5d5d5));
}

/* line 15, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/helpers/_forms.scss */
input[type=text],
input[type=search],
input[type=email],
input[type=password],
textarea {
  border: none;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset 0px 2px 5px 0px #aaa;
  font-size: 15px;
  height: 26px;
  padding: 0 5px;
  -webkit-appearance: textfield;
}

/* line 25, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/helpers/_forms.scss */
textarea {
  display: block;
  padding: 5px;
}

/* line 2, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/_splash.scss */
#splash .spinner {
  width: 35px;
  height: 35px;
  background: url("resources/icons/spinner.png") no-repeat center center;
  -webkit-background-size: contain;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/* line 1, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/_screen.scss */
.screen {
  background-position: center center;
  -webkit-background-size: cover;
}

/* line 20 */
body {
  color: black;
  font-family: Helvetica Neue, sans-serif;
}

/* line 25 */
.page {
  background-color: white;
}

/* line 33 */
.component.body-text:not(.image-caption) p:last-child {
  margin-bottom: 0;
}

/* line 1, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/TodoForm/_todo-form.scss */
.component.todo-form {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#646464), color-stop(0.5, #505050), to(#414141));
  padding: 10px;
  background-color: #505050;
}

/* line 2, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/TodoList/_todo-list.scss */
.component.todo-list li {
  padding: 10px;
}
/* line 5, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/TodoList/_todo-list.scss */
.component.todo-list li:nth-child(even) {
  background-color: #eaeaea;
}
/* line 9, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/TodoList/_todo-list.scss */
.component.todo-list li.no-items {
  font-style: italic;
  color: #cccccc;
}
/* line 14, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/TodoList/_todo-list.scss */
.component.todo-list li input {
  margin: 0 20px 0 0;
}
/* line 18, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/TodoList/_todo-list.scss */
.component.todo-list li .delete {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #cccccc;
}

/* line 1, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/TodoTools/_todo-tools.scss */
.component.todo-manager {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#646464), color-stop(0.5, #505050), to(#414141));
  color: white;
  background-color: #505050;
  padding: 10px;
}
/* line 7, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/TodoTools/_todo-tools.scss */
.component.todo-manager a {
  padding-left: 20px;
  color: #cccccc;
}

/* line 1, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/NavBar/_nav-bar.scss */
.component.nav-bar {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#646464), color-stop(0.5, #505050), to(#414141));
  background-color: #505050;
  height: 60px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
/* line 9, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/NavBar/_nav-bar.scss */
.component.nav-bar div {
  -webkit-box-flex: 1;
}
/* line 12, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/NavBar/_nav-bar.scss */
.component.nav-bar div a {
  box-sizing: -webkit-border-box;
  -webkit-background-size: contain;
  background: url(resources/icons/light/btn-page-nav-back.png) no-repeat;
  background-position-y: center;
  display: block;
  height: 40px;
  width: 40px;
  margin: 10px;
}
/* line 24, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/NavBar/_nav-bar.scss */
.component.nav-bar div a:active {
  background-image: url(resources/icons/dark/btn-page-nav-back.png);
}
/* line 29, /Users/rmurphey/projects/mulberry-demos/todos/themes/default/../../javascript/components/NavBar/_nav-bar.scss */
.component.nav-bar h1 {
  -webkit-box-flex: 8;
  color: white;
  text-align: center;
  margin: 20px 0 0 -60px;
}

/* line 44 */
.page.todos .screen.index {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/style/_layout.scss */
.page.todos .screen.index > .region {
  -webkit-box-flex: 1;
}
/* line 47 */
.page.todos .screen.index .region.todo-list-container {
  -webkit-box-flex: 1;
}
/* line 52 */
.page.todos .screen.index .region.todo-form-container,
.page.todos .screen.index .region.todo-tools-container {
  -webkit-box-flex: 0;
}

/* line 59 */
.page.completed .screen.index {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* line 4, /Users/rmurphey/projects/mulberry/app/mulberry/style/_layout.scss */
.page.completed .screen.index > .region {
  -webkit-box-flex: 1;
}
/* line 62 */
.page.completed .screen.index .region.nav-bar-container {
  -webkit-box-flex: 0;
}
